## Loading libs & data

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import wikipediaapi as wk
from myWiki import WikiDecadeETL

In [2]:
data = pd.read_csv("data/1900_2020s.csv")
print(data.shape)
data.head()

(528, 4)

,section,text,sub_section,decade
0,Politics and wars,Major political changes\nNew Imperialism\nThe ...,Major political changes,1900s (decade)
1,Politics and wars,Wars\nSecond Boer War ends.\nPhilippine–Americ...,Wars,1900s (decade)
2,Politics and wars,Internal conflicts\nThe Boxer Rebellion ends.\...,Internal conflicts,1900s (decade)
3,Politics and wars,"Colonization\nJanuary 1, 1901, British colonie...",Colonization,1900s (decade)
4,Politics and wars,"Decolonization\nMay 20, 1902 – Cuba gains inde...",Decolonization,1900s (decade)

In [3]:
data.tail()

,section,text,sub_section,decade
523,Culture,"Music\nIn 2020, TikTok became an important mus...",Music,2020s
524,Culture,Video games\nThe ninth generation of consoles ...,Video games,2020s
525,Culture,Architecture\n,Architecture,2020s
526,Culture,Sports\nTokyo was to host the Olympic Games fo...,Sports,2020s
527,See also,See also\nTimeline of the near future\n\n,See also,2020s

In [5]:
data.section.value_counts()

Politics and wars                          112
Popular culture                            111
People                                      69
Science and technology                      47
Disasters                                   46
Politics and conflicts                      36
Economics                                   18
Culture                                     16
Society                                     15
Assassinations and attempts                 13
See also                                     8
Social and political movements               8
Technology and science                       6
Technology                                   5
Popular memory                               2
Population and social issues                 1
Religion and irreligion                      1
Health                                       1
Economy                                      1
Cyber security and hacking                   1
Social history                               1
Health and society                           1
Cybersecurity and hacking                    1
Religion                                     1
Other significant international events       1
Worldwide trends                             1
Additional notable worldwide events          1
Name for the decade                          1
Environment and climate change               1
Environment                                  1
Additional significant worldwide events      1
Name: section, dtype: int64

In [8]:
data.sub_section.value_counts()

Assassinations and attempts        13
Prominent political events         13
Fashion                            12
Film                               12
Music                              12
                                   ..
Other natural events                1
Youth suffrage                      1
Activists and religious leaders     1
Energy crisis                       1
LGBT rights                         1
Name: sub_section, Length: 232, dtype: int64

In [6]:
data[data["section"] == "See also"]

,section,text,sub_section,decade
152,See also,Timeline\nThe following articles contain brief...,Timeline,1940s
182,See also,Timeline\nThe following articles contain brief...,Timeline,1950s
239,See also,Timelines\nThe following articles contain brie...,Timelines,1960s
288,See also,Timeline\nThe following articles contain brief...,Timeline,1970s
319,See also,Timeline\nThe following articles contain brief...,Timeline,1980s
360,See also,Timeline\nThe following articles contain brief...,Timeline,1990s
429,See also,Timeline\nThe following articles contain brief...,Timeline,2000s (decade)
527,See also,See also\nTimeline of the near future\n\n,See also,2020s

It would seem __"See also"__ wasn't completetly eliminated when transforming the pages. 

We can deal with this in 3 ways

1. Investigate this is happening and fix the bug in WikiDecadeETL
2. Drop rows with "See also" when df is created in the class
3. Drop rows with "See also" when performing EDA.

We'll put this as todo for now